<div class="modal show">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content modal-popout-bg">
        <div class="modal-header">
          <button (click) = "sendSignal(-1)" type="button" class="close white" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">BUILD NEW BUILDING</h4>
          <img [src] = "getSrc()"/>
        </div>
        <div class="modal-body" [ngStyle]="{'position': 'relative'}">
          <div *ngIf="this.buildingChoice.currentSelection < 4 && this.buildingChoice.currentSelection > 0" class="building-description">
            Small resource factories produce metal, building materials and electricity, but in smaller amounts than bigger ones. Their advantage is, that opponent won’t know anything about them until you get spied. It’s a very good idea to build small factories next to their bigger equivalents, because it may give you a huge production bonus after upgrading "Transport Trains".
          </div> 
          <div *ngIf="this.buildingChoice.currentSelection == 4" class = "building-description">
            Drone towers are providing you with necessary information about other players. They allow you to send drones on a spying mission and also protect you a bit from being spied by other players. It is very important to position these towers close to enemy fields, as the chance of being detected increases along with distance they travel.
          </div> 
          <div *ngIf="this.buildingChoice.currentSelection > 4" class = "building-description">
            Factories of mechs allow you to produce some specific kind of troops. 
          </div>
          <div *ngIf="this.buildingChoice.currentSelection == 5" class = "building-description">
            Droids are the weakest kind of troops, quite balanced concerning hitpoints and attack damage they contribute to your army. They are very dangerous in early game, due to their fast production speed. Use them to ambush your opponents early and gain huge advantage!
          </div> 
          <div *ngIf="this.buildingChoice.currentSelection == 6" class = "building-description">
            Tanks are heavy, expensive troops, that provide your army with loads of protection. They may be very usefull when attacking other players towers or areas with walls built, as few of them is enough to equalize the protection bonuses gained from defensive buildings!
          </div>  
          <div *ngIf="this.buildingChoice.currentSelection == 7" class = "building-description">
            Cannons are the best for big damage dealing. Very effective in protecting your areas, when supported with walls or towers. They are also usefull when attacking and mixed with some tanks, they will destroy anything in their path! 
          </div>
          <div class = "down with-padding">
            <app-building-selection></app-building-selection>
          </div>
          
        </div>
        <div class="modal-footer">
          <button (click) = "sendSignal(-1)" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
