<div class = "row" [ngStyle]="{'height': '90%'}">
    <div class = "col-4">
        <div class = "text-center" [ngStyle]="{'height': '100%'}">
            <div class = "type-frame">
                <h4 class = "type-header">CLASSIC</h4>
                <div class = "type-description">
                    Play with 3 other players, everyone against each other. Opponents will be picked randomly,
                    winner is only one!
                </div>
            </div>  
        </div>
    </div>
    <div class = "col-4">
        <div class = "text-center" [ngStyle]="{'height': '100%'}">
            <div class = "type-frame">
                <h4 class = "type-header">2 VS 2</h4>
                <div class = "type-description">
                    Team up with other player and fight with another 2-player team!
                    You may invite your friend to play or match with other player randomly!
                </div>
            </div>  
        </div>
    </div>
    <div class = "col-4">
        <div class = "text-center" [ngStyle]="{'height': '100%'}">
            <div class = "type-frame">
                <h4 class = "type-header">CUSTOM GAME</h4>
                <div class = "type-description">
                    Customize your own room! You can create any teams, even like 3 vs 1 and
                    invite up to 3 other players. You can also join an existing cutom game. 
                </div>
            </div>  
        </div>
    </div>
</div>
