    <div class = "row"></div>
    
    <div class = "row">
        <div class = "column">
            <div class = "description">
                <h2>5 REASONS TO PLAY DESERT 21:</h2>
                <p>> It's absolutely free to play! </p>
                <p>> It says NO to Pay2Win!</p>
                <p>> It's extremely easy to learn!</p>
                <p>> You don't have to be online 24 hours per day!</p>
                <p>> It's really damn entertaining!</p>
            </div>
            
        </div>
    </div>




