<h4 class = "game-description-header">DESERT 21</h4>
<div class = "game-description">
DESERT 21 is an old-school browser strategy game with one difference - everything happens during one hour!
In far future, people are becoming smart enough to send machines into battlefield instead of them. 
The problem is, it caused them to wage war much more often! You are one of the generals, sending your machines
to fight for you, and conquer the whole DESERT 21!
You build your bases, produce battle machines, battle with other players and collect resources until the time
runs away.              
</div>
<h4 class = "game-description-header">MAIN GOAL</h4>
<div class = "game-description">
You play with three other players and your goal is to conquer the biggest part of map. The map consists of 
121 fields, just like in board game. Your final score is percentage of the map covered by you. For each game
you are receiving or loosing some experience points, depending on your performance. The winner is player who
conquers all other players or owns the biggest part of map.     
</div>
<h4 class = "game-description-header">CONQUERING</h4>
<div class = "game-description">
To conquer the player, you must conquer his/her homebase. Each player has one from the beginning and they're 
located in four corners of square-shaped board. When your homebase is taken down, you are loosing all 
your fields as they become unoccupied fields. 
</div>
