<div class = "row">
    <div class = "col-sm">
        <div class = "text-center">
            <h1 class = "menu-header">CHANGE PASSWORD</h1>
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "text-center">
            <div class = "window-description">
                TO CHANGE YOUR PASSWORD, ENTER YOUR NEW WANTED PASSWORD. 
                WE WILL SEND YOU AN ACTIVATION CODE INTO YOUR E-MAIL.
                COPY IT BELOW, AND YOUR PASSWORD WILL BE CHANGED!
            </div>
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-2"></div>
    <div class = "col-8">
        <div class = "text-left">
            <h6 class = "account-input-description">NEW PASSWORD</h6>
            <span>
                <input [(ngModel)] = "passwordFirst" class = "account-input" type = "text"/>
            </span>
        </div>
    </div>
    <div class = "col-2"></div>
</div>
<div class = "row">
    <div class = "col-2"></div>
    <div class = "col-8">
        <div class = "text-left">
            <h6 class = "account-input-description">REPEAT PASSWORD</h6>
            <span>
                <input [(ngModel)] = "passwordRepeated" class = "account-input" type = "password" ngDefaultControl/>
                <button (click) = "changePassword()" [ngStyle]="{'margin-left': '5px'}" type = "button" class = "btn btn-success">SEND</button>
            </span>
            <div class = "text-left">
                <div appChangePasswordMessenger class = "error-message"></div>
            </div>
        </div>
    </div>
    <div class = "col-2"></div>
</div>
<div class = "row">
    <div class = "col-2"></div>
    <div class = "col-8">
        <div class = "text-left">
            <h6 class = "account-input-description2">ACTIVATION CODE</h6>
            <span>
                <input [(ngModel)] = "code" class = "account-input2" type = "text"/>
                <button (click) = "activatePassword()" [ngStyle]="{'margin-left': '5px'}" type = "button" class = "btn btn-primary">SEND</button>
            </span>
            <div class = "text-left">
                <div appActivatePassword class = "error-message"></div>
            </div>
        </div>
    </div>
    <div class = "col-2"></div>
</div>

