<div class = "row">
    <div class = "col-sm">
        <div class = "text-center">
            <h1 class = "menu-header">HOW TO PLAY?</h1>
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "text-center">
            <span>
                Main rules: 
            </span>
            <span>
                <div class="btn-group mr-2 btn-group-sm" role="group" aria-label="First group">
                    <button (click) = "goTo(0)" type="button" class="btn btn-secondary">1</button>
                    <button (click) = "goTo(1)" type="button" class="btn btn-secondary">2</button>
                    <button (click) = "goTo(2)" type="button" class="btn btn-secondary">3</button>
                    <button (click) = "goTo(3)" type="button" class="btn btn-secondary">4</button>
                </div>
            </span>
            
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "text-left">
            <app-first-page [hidden] = "isHidden[0]"></app-first-page>
            <app-second-page [hidden] = "isHidden[1]"></app-second-page>
            
        </div>
    </div>
</div>