<div class = "row">
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\regular-production.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-before">
        {{getRegularProduction()}}
    </div>
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\progress-arrow.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-after">
        {{getNextRegularProduction()}}
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\bigger-production.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-before">
        {{getBiggerProduction()}}
    </div>
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\progress-arrow.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-after">
        {{getNextBiggerProduction()}}
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\mass-production.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-before">
        {{getMassProduction()}}
    </div>
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\progress-arrow.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-after">
        {{getNextMassProduction()}}
    </div>
</div>
