<div class = "row">
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\base-defence.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-before">
        {{getBaseDefence()}}
    </div>
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\progress-arrow.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-after">
        {{getNextBaseDefence()}}
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\units-strength.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-before">
        {{getUnitStrength() | percent:'.0-0'}}
    </div>
    <div class = "col-sm">
        <img src = "assets\game-graphics\misc\upgrades\progress-arrow.png" class = "img-fluid" alt = "Responsive image"/>
    </div>
    <div class = "col-sm popup-amount-after">
        {{getNextUnitStrength() | percent:'.0-0'}}
    </div>
</div>
