<h4 class = "game-description-header">BOARD</h4>
<div class = "game-description">
Starting each game, a new board is being generated. Board is a square that consists of 121
equal square fields, which can be owned by players, except one in the middle, which is a special 
"Commander Mech Field". Regular fields may be either empty, or have some buildings inside. These buildings
are quite powerful and are important strategic points.
</div>
<h4 class = "game-description-header">FIELD BUILDINGS</h4>
<div class = "game-description">
There are 6 types of buildings placed inside the fields: 3 types of resource factories (producing different 
resources), towers, rocket launchers and home bases. All these buildings (except rocket launchers) can be 
upgraded using your resources. Upgrading lasts some time, depending on the building and its level.  
</div>
