/* You can add global styles to this file, and also import other style files */


.main-background {
    width: 100%;
    height: 100%;
    background-image: url('src\assets\background.jpg');
    background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

.menu-background {
  width: 100%;
  height: 100%;
  background-image: url('src\assets\menu-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.menu-header {
  color: rgb(0, 128, 255);
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  border-bottom: rgb(0, 128, 255);
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

.window-description{
  color: rgb(204, 204, 204);
  border-bottom: rgb(0, 128, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}


.game-description{
  color: rgb(204, 204, 204);
  border-bottom: rgb(0, 128, 255);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.game-description-header{
  color: rgb(204, 204, 204);
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.settings-header{
  color: rgb(204, 204, 204);
  margin-top: 3px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.input-field{
  margin-top: 3px;
  float: right;
} 

.input-field-description{
  color: rgb(204, 204, 204);
}

.confirm-button{
  margin-top: 4px;
}

.account-input{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(40, 170, 75);
  color: rgb(255, 255, 255);
  border-style: solid;
}

.account-input{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(40, 170, 75);
  color: rgb(255, 255, 255);
  border-style: solid;
}

.account-input2{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgb(0, 128, 255);
  color: rgb(255, 255, 255);
  border-style: solid;
}

.account-input-description{
  color: rgb(40, 170, 75);
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5px;
}

.account-input-description2{
  color: rgb(0, 128, 255);
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 5px;
}

.enlightment{
  border-color: rgb(0, 128, 255);
  border-style: solid;
  border-width: 2px;
}

.selecting{
  border-color: rgb(239, 255, 15);
  border-style: solid;
  border-width: 2px;
}

.unselectable{ 
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.modal.show{
  display: block
}

.modal .modal-popout-bg {
  background-image: url('src/assets/game-graphics/popupBackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.popup-amount-before{
  font-size: large;
  color: yellow;
  text-shadow: 2px black;
}

.popup-amount-after{
  font-size: large;
  color: rgb(43, 255, 0);
  text-shadow: 2px black;
}
