<div class = "row">
    <div class = "col-sm">
        <div class = "input-field">
            <span class = "input-field-description">
                LOGIN: 
            </span>
            <span>
                <input [(ngModel)] = "login" (input) = "type()" class = "login-form-input" type = "text"/>
            </span> 
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "input-field">
            <span class = "input-field-description">
                PASSWORD:
            </span>
            <span>
                <input [(ngModel)]="password" (input) = "type()" class = "login-form-input" type = "password"/>
            </span>
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "error-message" appLoginMessenger></div>
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "confirm-button">
            <button (click) = "logIn()" type="button" [ngStyle]="{float: 'right'}" class="btn btn-primary">LOG IN</button>
        </div>   
    </div>
</div>
<div class = "row">
    <div class = "col-sm">
        <div class = "loadingIcon">
            <img [hidden] = "loadingHidden" src = 'assets/loading2.gif' [ngStyle]="{float: 'right'}" />
        </div>
    </div>
</div>


